In [1]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum')

display(pivot)

                           Wage
Club               FC Barcelona  Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0  205000.0          206000.0         NaN
Belgium                110000.0       NaN          230000.0    240000.0
Bosnia Herzegovina          NaN  180000.0               NaN         NaN
Brazil                 465000.0  335000.0           91000.0    570000.0
Chile                  205000.0       NaN          215000.0         NaN
Costa Rica                  NaN       NaN               NaN    195000.0
Croatia                260000.0  160000.0               NaN    420000.0
Dominican Republic          NaN       NaN               NaN    140000.0
Ecuador                     NaN       NaN          120000.0         NaN
England                     NaN       NaN          478000.0         NaN
France                 495000.0  145000.0          375000.0    459000.0
Germany                240000.0  160000.0               NaN    355000.0
Italy                       NaN  460000.0           88000.0         NaN
Ivory Coast                 NaN       NaN          105000.0         NaN
Morocco                     NaN  160000.0               NaN         NaN
Netherlands            135000.0       NaN               NaN         NaN
Poland                      NaN  125000.0               NaN         NaN
Portugal               125000.0  405000.0               NaN         NaN
Scotland                    NaN       NaN           11000.0         NaN
Serbia                      NaN       NaN          165000.0         NaN
Spain                  912000.0       NaN          260000.0   1404000.0
Uruguay                455000.0       NaN               NaN         NaN
Wales                       NaN       NaN           13000.0    355000.0

In [2]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True)

display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [4]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2.loc['Manchester City']['GK']

125000.0

In [5]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [6]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                     1        1                 2           0
Belgium                       1        0                 1           1
Bosnia Herzegovina            0        1                 0           0
Brazil                        2        2                 1           2
Chile                         1        0                 1           0
Costa Rica                    0        0                 0           1
Croatia                       1        1                 0           1
Dominican Republic            0        0                 0           1
Ecuador                       0        0                 1           0
England                       0        0                 6           0
France                        3        1                 2           3
Germany                       1        1                 0           1
Italy                         0        4                 1           0
Ivory Coast                   0        0                 1           0
Morocco                       0        1                 0           0
Netherlands                   1        0                 0           0
Poland                        0        1                 0           0
Portugal                      1        1                 0           0
Scotland                      0        0                 1           0
Serbia                        0        0                 1           0
Spain                         9        0                 1          11
Uruguay                       1        0                 0           0
Wales                         0        0                 1           1

In [7]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values=['Name'],
index=['Position'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                         Name                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
CAM                         0                     1                    0
CB                          5                     3                    3
CDM                         1                     0                    3
CF                          0                     0                    0
CM                          2                     1                    0
GK                          3                     2                    3
LAM                         0                     0                    0
LB                          2                     2                    2
LCB                         0                     1                    1
LCM                         0                     0                    0
LDM                         1                     0                    0
LF                          0                     0                    0
LM                          2                     2                    2
LS                          0                     0                    1
LW                          0                     0                    1
LWB                         0                     0                    0
RAM                         1                     0                    0
RB                          2                     2                    2
RCB                         1                     1                    0
RCM                         0                     0                    0
RDM                         1                     0                    1
RF                          0                     0                    0
RM                          0                     3                    2
RS                          0                     0                    1
RW                          0                     0                    0
RWB                         0                     0                    0
ST                          3                     2                    1

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
CAM               0               0              1                  1
CB                1               4              1                  2
CDM               1               0              2                  2
CF                0               1              0                  0
CM                2               0              1                  1
GK                3               3              1                  1
LAM               0               0              0                  0
LB                0               1              1                  2
LCB               0               1              0                  1
LCM               0               1              0                  0
LDM               0               0              0                  0
LF                0               0              0                  0
LM                0               0              0                  0
LS                0               1              0                  0
LW                0               0              0                  0
LWB               1               0              0                  0
RAM               0               0              0                  0
RB                1               0              1                  1
RCB               0               1              0                  0
RCM               0               1              0                  0
RDM               0               0              0                  0
RF                0               0              0                  0
RM                1               3              2                  0
RS                0               1              0                  0
RW                0               2              0                  0
RWB               0               0              0                  0
ST                0               1              3                  0

                                                ...                    \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Position                                        ...
CAM                    0          3          0  ...                 0
CB                     2          1          3  ...                 3
CDM                    0          0          1  ...                 0
CF                     0          0          0  ...                 0
CM                     1          1          2  ...                 4
GK                     1          1          3  ...                 2
LAM                    0          0          0  ...                 0
LB                     1          3          3  ...                 1
LCB                    0          1          1  ...                 1
LCM                    1          0          1  ...                 1
LDM                    0          1          0  ...                 0
LF                     0          0          0  ...                 0
LM                     0          1          2  ...                 0
LS                     0          0          1  ...                 1
LW                     2          0          0  ...                 3
LWB                    0          0          0  ...                 0
RAM                    0          0          0  ...                 0
RB                     1          1          1  ...                 2
RCB                    0          1          1  ...                 1
RCM                    0          0          1  ...                 1
RDM                    0          1          0  ...                 0
RF                     0          0          0  ...                 0
RM                     0          1          2  ...                 1
RS                     1          0          1  ...                 1
RW                     0          0          0  ...                 1
RWB                    0          0          0  ...                 0
ST                     1          3          2  ...                 1

                                                                          \
Club     Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Position
CAM                     2           0                   3              0
CB                      2           3                   4              0
CDM                     3           0                   2              2
CF                      0           0                   0              0
CM                      2           1                   1              1
GK                      4           3                   4              3
LAM                     0           0                   0              0
LB                      1           2                   1              2
LCB                     0           1                   0              1
LCM                     0           1                   1              0
LDM                     1           0                   0              2
LF                      0           0                   0              0
LM                      2           2                   1              2
LS                      0           1                   0              0
LW                      0           0                   1              0
LWB                     0           0                   0              0
RAM                     0           0                   0              0
RB                      2           2                   2              2
RCB                     0           1                   0              1
RCM                     0           1                   1              0
RDM                     0           0                   0              1
RF                      0           0                   0              0
RM                      1           5                   1              4
RS                      0           1                   0              0
RW                      0           0                   1              0
RWB                     0           0                   0              0
ST                      2           4                   3              4

                                                                     \
Club     Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Position
CAM                       3               1         0             1
CB                        2               2         4             1
CDM                       2               5         0             0
CF                        0               0         0             1
CM                        0               0         1             3
GK                        3               3         3             3
LAM                       0               0         0             0
LB                        3               2         0             2
LCB                       1               1         1             1
LCM                       0               0         1             1
LDM                       1               1         0             0
LF                        0               0         0             0
LM                        4               1         0             2
LS                        0               0         0             0
LW                        0               0         3             0
LWB                       0               0         2             0
RAM                       0               0         0             0
RB                        1               3         0             1
RCB                       1               0         1             1
RCM                       0               0         1             0
RDM                       1               1         0             0
RF                        0               0         0             0
RM                        2               1         0             1
RS                        0               0         0             0
RW                        0               0         2             1
RWB                       0               0         2             0
ST                        1               1         5             1


Club     Śląsk Wrocław
Position
CAM                  0
CB                   1
CDM                  3
CF                   0
CM                   1
GK                   3
LAM                  0
LB                   2
LCB                  1
LCM                  0
LDM                  1
LF                   0
LM                   2
LS                   1
LW                   0
LWB                  0
RAM                  0
RB                   2
RCB                  1
RCM                  0
RDM                  1
RF                   0
RM                   2
RS                   1
RW                   0
RWB                  0
ST                   2

[27 rows x 650 columns]